%br
= simple_form_for(@task) do |f|
  %fieldset
    = f.input :priority, :collection => 0..2, :as => :radio, :class => "inline"
    = f.input :project_id, :collection => current_user.projects, :include_blank => false
    = f.input :name, :label => "Task name"
    = f.label :observations
    = f.text_area :observations, :rows => 5
    %br
    = f.button :submit, :class => "btn btn-primary"
