%h1
  = best_in_place @task, :name
  = link_to "Edit", edit_task_path(@task), :class => "btn btn-mini"
  
%label
  Done?
  = best_in_place @task, :done_task, type: :checkbox

%br

%h4
  Project:
  = link_to @task.project.name, project_path(@task.project)

%div
  %h3
    Priority:
    = @task.priority

%hr

%div
  %h3
    Observations
  %p
    = @task.observations

= link_to "Back to #{@task.project.name}", @task.project, :class => "btn btn-big"
