= simple_form_for(@project) do |f|
  %fieldset
    = f.hidden_field :user_id, :value => current_user.id
    = f.input :name
    = f.input :description
    = f.label :observations
    = f.text_area :observations, :rows => 5
    %br
    = f.submit nil, :class => "btn btn-primary"