%h1
  Projects
- if !current_user.projects.empty?
  %table.table.table-striped
    %thead
      %th
        Name
      %th
        Description

      %th
        Last task
      %th
        Updated at
      %th
        Actions
    %tbody
      - @projects.order(:updated_at).reverse.each do |project|
        %tr
          %td
            = link_to project.name, project_url(project)
          %td
            = project.description.truncate(50)
          %td
            - if !project.tasks.empty?
              = link_to project.tasks.last.name, task_path(project.tasks.last)
            - else
              %em
                = link_to "Any tasks yet", new_task_path
          %td
            = project.updated_at.strftime("%b %e, %Y")

          %td
            = link_to "Edit", edit_project_path(project), :class => "btn btn-mini"

            = link_to "Delete", project_path(project), :method => :delete, :confirm => "Delete \"#{project.name}\" project?",
            :class => "btn btn-mini btn-danger"

- else
  %em
    = link_to "Any projects yet.", new_project_path

= link_to "<", params.merge(:page => @projects.previous_page), :class => "btn btn-mini"
%em
  = @projects.current_page
  of
  = @projects.total_pages

= link_to ">", params.merge(:page => @projects.next_page), :class => "btn btn-mini"