%h1
  = @project.name
  = link_to "Edit", edit_project_path(@project), :class => "btn btn-mini"

%br

%div
  %h3
    Description
  %label
    = @project.description

%hr

%div
  %h3
    Observations
  %label
    = @project.observations

%hr

%h3
  Tasks
  = link_to "add +", new_task_path, :class => "btn btn-mini btn-primary"

%br

- if !@project.tasks.empty?


  %table.table.table-striped
    %thead
      %th
        Priority
      %th
        Name
      %th
        Observation
      %th
        Actions

    %tbody
      - @project.tasks.order(:priority).reverse.each do |task|
        %tr
          %td
            = task.priority
          %td
            = link_to task.name.truncate(25), task_path(task)
          %td
            = task.observations.truncate(90)
          %td
            = link_to "Edit", edit_task_path(task), :class => "btn btn-mini"
            = link_to "Delete", task_path(task), :method => :delete, :confirm => "Delete \"#{task.name}\" task?", :class => "btn btn-mini btn-danger"
- else
  %em
    = link_to "Any tasks yet", new_task_path
